body{
	background-color:#1A4591;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	background-color: #000000;
	color: #ffffff;
	padding: 30px;
	text-align: center;
	font-size: 14px;
}

nav{
	float: left;
	padding: 1px;
	width: 20%;
	background-color: #f1f1f1;
}

section::after {
  content: "";
  display: table;
  clear: both;
}
article {
	text-align: center;
  float: left;
  padding: 20px;
  width: 76%;
  background-color: #f1f1f1;
}

iframe{
	width: 100%;
	height: 100%;
}

footer{
	background-color: #000000;
	color: #ffffff;
	padding: 10px;
	text-align: center;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


